h1{
    margin:80px;
    height:50px;
    width:auto;
    color:aqua;
    position: relative;

}
body{
    border:3px solid black;
    border-radius:20px;
}

a{
    position: absolute;
    left:500px;
    top:300px;
    height:100px;
    width:100px;
    border:3px solid pink;
    border-radius:10px;
    background-color: aquamarine;
    color: rebeccapurple;
    
}

