<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border=1>
        <th>Quotes of the day </th>
            <tr>
                <td><a href="#">sunday</a></td>
                <td><a href="#">monday</a></td>
                
            </tr>
            <tr>
                <td><a href="#">Tuesday</a></td>
               <td><a href="#">wednesday</a></td>
            </tr>
            <tr>
               <td><a href="#">Thursday</a></td>
               <td><a href="#">Friday</a></td>
            </tr>
            <tr>
               <td><a href="#">saturday</a></td>
            </tr>

       
    </table>
</body>
</html>